.btn {
    /* we could style this */
    background-color:lightblue;
}

.jumbotron {
    background-color: cornflowerblue;
    color: floralwhite;
}

/* Psuedo-elements: mods part of element */
td::after {
    /* content: " ;)" */
}

td::selection {
    background-color: rgb(133, 198, 209);
}

/* Psuedo-class: modifies based on state */

td:hover {
    text-decoration: underline;
    border: 3px dashed cornflowerblue;
}

:required {
    border-left: 5px solid red; 
    background-color:lightskyblue;
}

input:valid {
    border-left: 5px solid green;
}