body {
    background-image: url("winter-here-text-scene-background-450w-664546687.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 36%;
}

nav {
    display: block;
    padding: 10px;
    margin: 30px;
    background-image: url("Tools-for-Structuring-Optimizing-Your-CSS-Code.jpg");
    background-color: #cccccc;
    background-position: top;
}

h1 {
    color:white;
}

nav>a {
    color: whitesmoke;
    text-decoration-line: underline;
}

/* Link is hovered */
nav>a:hover {
    color: blue;
}

/* Link has been visited */
nav>a:visited {
    color: red;
}

span {
    font-size: 20px;
}

main {
    color: rgb(177, 46, 177);
    font-weight: bold;
}
