body {
    background-color: beige;
}
header {
    background-image: url(hands-parent-child.jpg);
    height: 600px; 
    background-size: cover;
    font-size: 300%;
    padding-top: 10%;
}


.div1 {     /* GRANDPA */
    background-color: aqua; /* Color is behind all divs, even if you can't see */
    text-decoration: underline; /* All child text is also underlined from this point on */ 
}
div.div1>.div2 {     /* FATHER */
    background-color: orange; /* ORANGE color writes over AQUA color, but only in second div */ 
    margin-left: 10%;           /* Indents father as well as SON */ 
}
.div2>.div3 {     /* SON */ 
    font-style: oblique; /* Changes font in SON, but does NOT apply up the family tree */ 
    background-color: gray;
    margin-left: 10%; /* This adds another 10% indent on top of the indent the FATHER passed on */ 
}

.inline {
    display: inline-block;
}
.inline2 {
    display: inline-block;
}
.inline3 {
    display: inline-block;
}
.inline4 {
    display: inline-block;
}
#swords {
    display: none;
}
ol {
    font-size: 200%; 
    margin-left: 10%;
    /* color: beige; */
}
ol li {
    font-weight: bold;
}
ol      ul {
    font-style: italic;
}
ol ul li {
    text-decoration: underline;
}
#longclaw div {
    color: red;
}