body {
    background-image: url("winter-here-text-scene-background-450w-664546687.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 36%;
}


nav {
    display: block;
    padding: 10px;
    margin: 30px,30px,30px,30px;
    background-image: url("Tools-for-Structuring-Optimizing-Your-CSS-Code.jpg");
    background-color:black;
    background-position: top;
}


h1 {
    color:white;
}


a {
    color: whitesmoke;
    text-decoration-line: underline;
    text-align: center;
    display: inline-block;
}

/* Link is hovered */
a:hover {
    color: blue;
}

/* Link has been visited */
a:visited {
    color:rgb(198,89,221);
}


p {
    font-size: 20px;
}


main {
    color:black;
    font-weight: bold;
    background-color: whitesmoke;
    overflow-y: scroll;
}